/* Main.html */
$main-color:      #928263;
$hero-color:      #916D42;
$main-back-color: #f5ede3;
$main-box-shadow: rgba(186, 166, 142, 1);

@mixin main-box-shadow() {
  -webkit-box-shadow: 0px 0px 30px 10px $main-box-shadow;
  -moz-box-shadow:    0px 0px 30px 10px $main-box-shadow;
  box-shadow:         0px 0px 30px 10px $main-box-shadow;
}

/* Recipes.html */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}