<div class="navbar navbar-default navbar-static-top" id="navbar-wrapper" ng-controller="NavbarCtrl">
  <div class="container">
    <!--div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button-->
      <div class="row" style="position: relative">
        <div class="col-md-12">
          <a href="/" id="brand-name">Easy Cooking</a>
          <span id="brand-subtitle"> <em>quick recipes for lazy people</em> </span>

          <div class="pull-right" id="search-box">
            <input type="text"  placeholder="Search" id="review-search" />
            <button class="btn btn-link btn-sm" >
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
      </div>

    <!--/div-->
    <!--div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>
    </div-->
  </div>
</div>
