$back-color: #1027A8;

#navbar-wrapper {
  background-color: $back-color;
  border-bottom: 3px solid #00A6FF;
  font-size: 2.5em;
}

#brand-name {
  font-weight: bold;
  color: #DCDCDC;
}

#brand-subtitle {
  color: #B8B8B8;
  display: none;
  font-size: .6em;
}

#search-box {
  border-radius: 10px;
  border: 1px solid $main-color;
  position: relative;
  display: inline-block;
  background-color: white;
  height: 25px;
  top:15px;
  font-size: 0.4em;

  #review-search {
    position: relative;
    left: 5px;
    top: -3px;
    outline: none;
    border: none;
    text-indent: 0px;

    //color: $review-color;
  }

  button {
    position: relative;
    top: -2px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #brand-subtitle {
    display: inline-block;
  }
}