<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container main-panel">
  <div class="row">
    <div class="col-md-12">
      <div class="recipe-wrapper">
        <div class="recipe-title">
          <span><strong>{{ recipe.name }}</strong></span>
        </div>
        <div class="recipe-body">
          <!-- category, ... , rating -->
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-7">
              <div class="col-md-4 col-sm-4 col-xs-12">
                <strong>Category:</strong> {{ recipe.category.name }}
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <strong>Cousine:</strong> {{ recipe.cousine }}
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <span class="glyphicon glyphicon-time"> {{ recipe.duration }} min</span>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-5">
              <gradient-rating overall="recipe.rating" ratings="recipe.ratings"
                               viewed="recipe.viewed" ratable="true" ></gradient-rating>
            </div>
          </div>

          <!-- ingredients -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="col-md-12">
                <strong>Ingredients:</strong>
                <br/>

                <table id="recipe-ingredients-tbl">
                  <colgroup>
                    <col id="ingredient-col-1">
                    <col id="ingredient-col-2">
                    <col id="ingredient-col-3">
                  </colgroup>

                  <tbody>
                    <tr ng-repeat="ing in recipe.ingredients track by $index">
                      <td>
                        <span>{{ $index + 1 }}.</span>
                      </td>
                      <td>
                        <span>{{ ing.name }} <span ng-show="ing.note !==''">({{ ing.note }})</span></span>
                      </td>

                      <td>
                        <span> - {{ ing.qtty }} </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- instructions -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="col-md-12">
                <strong>Instructions:</strong>
                <br/>
                <div class="row" ng-repeat="inst in recipe.instructions">

                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <span>{{ $index + 1 }}.</span>
                    <span>{{ inst.step }}</span>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <!-- from  http://www.iconka.com -->
                    <img class="img-thumbnail recipe-step-img" ng-src='assets/images/cat-food-hearts-icon-128x128.png'/>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- notes -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="col-md-12">
                <strong>Notes:</strong>
                <br/>
                <div class="row" ng-repeat="note in recipe.notes">
                  <div class="col-md-1 col-sm-1 col-xs-1">
                    {{ $index + 1 }}.
                  </div>
                  <div class="col-md-11 col-sm-11 col-xs-11">
                     {{ note }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
